# Ignore large datasets
Dataset/
*.csv

# Keep summaries if you want
!decade_summary*.csv
!top5_genres*.csv

# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Ignore PDF files
*.pdf

# vscode workspace
*.code-workspace